*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
 
}

body{
  background-color: black;
  color: white;
  
}

.logo{
  float: left;
  width: 150px;
  height: 100px;
  margin: -5px;
}


.navbar {

  height: 75px;
  width: 100%;
  text-align: right;
  background-color: rgb(58, 48, 48);
}

.navbar ul li{
  display: inline-block;
  list-style: none;
  margin: 25px 80px 0 0;

}

.navbar ul li a{
  text-decoration: none;
  padding: 5px 13px;
  color: White;
  transition: 0.15s ease-in-out;
 
 
}

.navbar ul li a:hover{
  border: 1px solid navy;
  border-radius: 5px;
  background-color: white;
  color: black;
}


.profile{
  width: 330px;
  position: relative;
  left: 950px;
  top: 80px;

}

.intro h3{
position: relative;
top: -80px;
left: 450px;
display: inline-block;
font-size: 28px;
width: 300px;
}

.intro h6{
position: relative;
top: -25px;
left: 100px;
display: inline-block;
font-size: 28px;
font-family: 'Ubuntu', sans-serif;
width: 300px;
}



.intro span{
  color: rgb(207, 82, 36);
  text-decoration: underline;
}

.about{
  
  width: 500px;
  margin: 225px auto 0 auto;
  
}
.about h2{
  margin-left: 160px;
  font-size: 30px;
  color: brown;
}
.about p{
  border: 1px solid whitesmoke;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  line-height: 30px;
  padding: 5px 20px;
  color: aquamarine;
}

/* .skill{
  width: 100%;
  height: 80%;
} */

.skill h2{
  text-align: center;
  color: brown;
  margin-top: 100px;
}

.chart{
  width: 500px;
  height: 20px;
  margin: 50px auto 0 auto;
  border: 1px solid white;
  border-radius: 10px;
}
.chart p{
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: blueviolet;
  
}

.skill h3{
  color: brown;
  margin: 20px;
  position: relative;
  bottom: 200px;
  left: 350px;
  padding: 15px;
  width: 20px;
}


#html{
  background: linear-gradient(to right, blue 80%, white 20%);
}

#css{
  background: linear-gradient(to right, blue 60%, white 40%);
}

#python{
  background: linear-gradient(to right, blue 40%, white 60%);
}

.contact{
  margin: -80;
}

.contact h3{
  text-align: center;
  font-size: 22px;
  color: brown;
}

.socials{
  width: 600px;
  height: 100px;
  background-color: rgb(58, 48, 48);
  border: 1px solid rgb(58, 48, 48) ;
  border-radius: 15px;
  margin: 30px auto 20px auto;
}


.socials img{
  width: 50px;
  margin-left: 100px;
  margin-top: 25px; 
}


